<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <section class="welcome">
      <div class="welcome-text">
        <h1>WELCOME TO PRVCY!</h1>
        <p>PRVCY redefines secure video communication, offering a privacy-centric platform tailored for confidential video and message exchanges.
          Built on a robust tech stack including Angular, HTML, CSS, Amazon AWS, and PHP, it ensures your videos remain private and protected. 
          Experience unparalleled security and peace of mind with every video.</p>
          <a href="#" class="button"><i class='bx bx-play'></i>Watch Video Tutorial</a>
          <a href="#" class="button" id="learn-more">About Us</a>
        </div>
        <div class="welcome-img">
          <img src="../assets/PRVCY-Welcome.png" alt="PRVCY Logo">
        </div>
    </section>
  </body>
</html>