<div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
            <div class="row">
                <label class="form-label">Have an organization? Type the code here to join:</label>
                <input type="text" id="organization" name="organization" #organization="ngModel" [ngModel]="user['custom:organization']"
                class="form-control form-control-sm">
                <button type="button" (click)="joinOrg()" class="btn btn-sm btn-success" [disabled]="loading">Join</button>
                <button type="button" (click)="skip()">Skip for now</button>
            </div>    
        </div>
    </div>
</div>
