<meta name="viewport" content="width=device-width, initial-sdcale=1.0">
<div class="justify-content-center">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="avatarImage">
            <img src="../../assets/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg" alt="Avatar" class="avatar">
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" #email="ngModel" [ngModel]="user.email" disabled
              class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="user.given_name"
              class="form-control form-control-sm">
            <!-- <mat-form-field class="matFormField" appearance="outline">
              <mat-label class="matLabel">Name: </mat-label>
              <input class="matInput" [(ngModel)]="user.given_name">
            </mat-form-field> -->
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" #username="ngModel" [(ngModel)]="this.user.username"
              class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="organizationcode" class="form-label">Organization code:</label>
            <input type="text" id="organizationcode" name="organizationcode" 
            [(ngModel)]="user['custom:organization']" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button type="button" (click)="updateDb(user['custom:organization'], user.username)" class="btn btn-sm btn-dark" [disabled]="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
              Update
            </button>
          </div>
        <div class="row">
          <div class="col mb-2">
            <mat-form-field class="matFormField" appearance="outline">
              <mat-label class="matLabel">Gender: </mat-label>
              <mat-select id="gender" name="gender" [(ngModel)]="user.gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button type="button" (click)="update()" class="btn btn-sm btn-dark" [disabled]="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>